<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span>Gif Photo Booth</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu" xPosition="before">
  <button *ngIf="isSignedIn" mat-menu-item>
    <span routerLink="/gifs">Make some Gifs!</span>
  </button>
  <button *ngIf="isSignedIn" mat-menu-item>
    <span routerLink="/gif-list">View your Gifs!</span>
  </button>
  <button *ngIf="isSignedIn" (click)="signOut()" mat-menu-item>
    <span>Sign Out</span>
  </button>
  <button *ngIf="!isSignedIn" mat-menu-item>
    <span routerLink="/landing">Sign In</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
